fastapi
uvicorn[standard]
SQLAlchemy
alembic
pydantic
python-jose[cryptography]
passlib[bcrypt]
python-dotenv
psycopg2-binary
python-multipart
python-jose
pyotp
email-validator
pymysql
apscheduler
requests
pywebpush
pytest
httpx
pandas
openpyxl
xlrd
xlwt
pyodbc>=4.0.35,<6
Pillow>=10.0.0
fpdf2>=2.7.9